@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  min-width: 400px;
  /* padding: 0px 10px; */
  height: 60px;
  margin: auto;
  margin-top: 40px;
  font-size: 12px;
}

.header h1 {
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  color: white;
}

.header div {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
}

.header div b {
  letter-spacing: 2px;
  color: white;
}

.header img {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
